body {
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: rgb(242, 242, 242); /*fixing the contrast */
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* styling the skip link */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px 16px;
  z-index: 100;
  transition: top 0.3s;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Stick No Bills", "Roboto", Helvetica, sans-serif;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 2em;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
}

form button:hover {
   background: black;
   color: #fff;
  border: 2px solid rgb(186, 186, 186);
} 

.site-footer {
  padding: 2rem 0;
}
